@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/cuprum.woff2') format('woff2'),
        url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src:  url('../fonts/cuprumitalic.woff2') format('woff2'),
        url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/cuprumbold.woff2') format('woff2'),
        url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
  border: none;
}

.flag-new {
  background-image: url(../img/flag-new.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-page h2 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 42px;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.logo img {
  height: 18px;
  margin: auto;
  padding-top: 1px;
}

.logo,
.button {
  background-color: #ed3643;
}

.inner-page .logo:hover,
.inner-page .logo:focus,
.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.inner-page .logo:hover,
.inner-page .logo:focus {
  -webkit-box-shadow: 0 5px 0 0 #9a212a;
          box-shadow: 0 5px 0 0 #9a212a;
}

.inner-page .logo:active,
.button:active {
  background-color: #ba2732;
}

.inner-page .logo:active {
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
          box-shadow: 0 5px 0 0 #8e1e26;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 59px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Cuprum', Arial, sans-serif;
  line-height: 0;
  background-color: rgb(243, 247, 249);
}

.header a,
.header input[type="search"] {
  outline: none;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-top {
  background-color: rgb(41, 52, 73);
}

.header-top a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.form-search {
  position: relative;
}

.form-search svg  {
  position: absolute;
  top: 12px;
  left: 17px;
}

.form-search input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  height: 42px;
  padding: 0;
  padding-bottom: 1px;
  padding-left: 48px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  background-color: rgb(41, 52, 73);
  border: none;
}

.form-search input[type="search"]:hover {
  background-color: #212a3a;
}

.form-search input[type="search"]:focus {
  background-color: #ffffff;
}

.form-search-input:focus + svg path {
  fill: #ee3643;
}

.form-search input[type="search"]::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.form-search input[type="search"]:focus::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.form-search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}

.form-search input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
}

.form-search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
}

.form-search input[type="search"]:focus::-ms-input-placeholder {
  color: #ffffff;
}

.form-search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}

.form-search input[type="search"]:-ms-input-placeholder {
  color: #000000;
}

.form-search input[type="search"]::placeholder {
  color: #ffffff;
}

.form-search input[type="search"]:focus::placeholder {
  color: #000000;
}

.header-purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-purchase a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  padding: 12px 0;
}

.header-purchase a:hover,
.header-purchase a:focus {
  background-color: rgb(33, 42, 58);
}

.header-purchase a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgb(22, 29, 41);
}

.header-purchase .header-cart-active {
  background-color: #ed3643;
}

.header-purchase .header-cart-active:hover,
.header-purchase .header-cart-active:focus {
  background-color: #ca2c37;
}

.header-purchase .header-cart-active:active {
  background-color: #ba2732;
}

.header-purchase .header-bookmark {
  position: relative;
  padding-left: 44px;
}

.header-bookmark svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.header-bookmark:hover svg,
.header-bookmark:focus svg,
.header-cart:hover svg,
.header-cart:focus svg {
  opacity: 1;
}

.header-bookmark:active svg,
.header-cart:active svg {
  opacity: 0.5;
}

.header-purchase .header-cart {
  position: relative;
  padding-left: 49px;
}

.header-cart svg {
  position: absolute;
  top: 12px;
  left: 18px;
  opacity: 0.3;
}

.header-top .header-order {
  width: 150px;
  padding: 12px 0;
  text-align: center;
  background-color: rgb(99, 166, 62);
}

.header-top .header-order:hover,
.header-top .header-order:focus {
  background-color: rgb(95, 187, 45);
}

.header-top .header-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgb(81, 133, 52);
}

.header-middle {
  padding-top: 46px;
  padding-bottom: 39px;
}

.header-middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  margin: 0;
  padding-top: 3px;
  padding-left: 52px;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: rgb(238, 54, 67);
}

.header-title b {
  font-weight: 400;
}

.header-contacts {
  width: 270px;
}

.header-phone {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  margin: 0;
  padding: 9px 0;
  padding-left: 71px;
  font-size: 21px;
  line-height: 21px;
  color: rgb(238, 54, 67);
  border: 3px solid #ffffff;
}

.header-phone::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-adress {
  margin: 0;
  padding-top: 4px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.002em;
  color: #32425c;
}

.header-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav a {
  padding: 12px 0;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.user-nav a:hover,
.user-nav a:focus {
  color: #ee4039;
}

.user-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav .user-nav-login {
  padding-left: 20px;
}

.user-nav-login {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 120px;
  margin-left: 20px;
}

.user-nav-login:hover path {
  fill: #32425c;
}

.user-nav-login:active path {
  fill: #c5c5c5;
}

.user-nav-login svg {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 20px;
  height: 17px;
}

.user-nav-registration {
  display: block;
  width: 150px;
}

.user-nav-autorized a:hover,
.user-nav-autorized a:focus {
  color: #000000;
}

.user-nav .user-profile {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 24px;
}

.user-nav .user-profile:active {
  color: rgba(0, 0, 0, 0.3)
}

.user-profile {
  width: 255px;
}

.user-profile svg {
  position: absolute;
  top: 13px;
  left: 14px;
}

.user-quit {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
}

.user-quit svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.user-profile path,
.user-quit path,
.user-quit g {
  fill: #c5c5c5;
}

.user-profile:hover path,
.user-profile:focus path,
.user-quit:hover path,
.user-quit:focus path,
.user-quit:hover g,
.user-quit:focus g {
  fill: #000000;
}

.user-profile:active path,
.user-quit:active path,
.user-quit:active g {
  fill: #c5c5c5;
}

.user-nav-autorized a {
  display: block;
}

.profile-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin: 0;
  margin-top: 7px;
  margin-left: 18px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.profile-nav::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 90px;
  width: 4px;
  height: 4px;
  background-color: #000000;
  border-radius: 50%;
}

.profile-nav li {
  margin-right: 32px;
}

.profile-nav a {
  display: block;
  color: #32425c;
  text-decoration: underline;
}

.profile-nav a:hover,
.profile-nav a:focus {
  color: #ee3643;
}

.profile-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-bottom {
  margin-bottom: 60px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  display: block;
  padding: 20px 30px 23px 31px;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 #293449;
          box-shadow: inset 0 -5px 0 0 #293449;
  outline: none;
}

.main-nav a:hover,
.main-nav a:focus {
  background-color: rgb(41, 52, 73);
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgb(29, 39, 57);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-nav .site-nav {
  padding: 0 20px;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 0 #293449;
          box-shadow: inset 0 -5px 0 0 #293449;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 53px;
  font-family: 'Cuprum', Arial, sans-serif;
}

.catalog-category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.catalog-category-item {
  position: relative;
  width: 300px;
}

.catalog-category-item .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 2;
}

.catalog-category-material {
  background-color: rgb(255, 191, 71);
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.catalog-category-tool {
  background-color: rgb(59, 188, 227);
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.catalog-category-equipment {
  background-color: rgb(220, 145, 216);
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.catalog-category a,
.catalog-offers a {
  display: inline-block;
  width: 135px;
  margin-left: 25px;
  padding-top: 11px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.catalog-category a:hover,
.catalog-category a:focus,
.catalog-offers a:hover,
.catalog-offers a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.catalog-category a:active,
.catalog-offers a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-category h3,
.catalog-offers h3 {
  margin: 0;
  margin-bottom: 12px;
  margin-left: 22px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: white;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-slider {
  position: relative;
  color: #ffffff;
  background-color: #32425c;
}

.catalog-slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  font-size: 0;
  line-height: 0;
  z-index: 20;
}

.catalog-slider-forward,
.catalog-slider-back {
  position: absolute;
  display: block;
  top: 114px;
  width: 22px;
  height: 40px;
  font-size: 0;
  border: none;
  background-color: transparent;
  z-index: 10;
}

.catalog-slider-forward {
  left: 25px;
  background-color: transparent;
  background-image: url('../img/icon-left.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-slider-back {
  right: 20px;
  background-color: transparent;
  background-image: url('../img/icon-right.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-slider-controls label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  vertical-align: top;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.catalog-slide-list {
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-slide-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 620px;
  height: 266px;
  padding-top: 23px;
  padding-left: 24px;
}

#catalog-slide-1:checked ~ .catalog-slide-list .catalog-slide-perforators,
#catalog-slide-2:checked ~ .catalog-slide-list .catalog-slide-drills {
  display: block;
}

#catalog-slide-1:checked ~ .catalog-slider-controls label[for="catalog-slide-1"],
#catalog-slide-2:checked ~ .catalog-slider-controls label[for="catalog-slide-2"] {
  background-color: #ee3643;
}

.catalog-slide-drills {
  background-image: url('../img/background-slide-drills.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-slide-perforators {
  background-image: url('../img/background-slide-perforators.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-slide-title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-slide-text {
  margin: 0;
  margin-left: 1px;
  font-size: 18px;
}

.catalog-slide-button {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
}

.catalog-offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-offers-list li {
  width: 300px;
}

.catalog-offers-discount {
  margin-bottom: 20px;
  background-color: #8ed790;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.catalog-offers-delivery {
  background-color: #ffc048;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.catalog-category-item,
.catalog-offers-list li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 22px;
  padding-top: 21px;
}

.popular h2 {
  margin: 0;
  padding-top: 1px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.popular-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px 24px 26px 28px;
  background-color: #f9f5f0;
}

.popular-top a {
  width: 253px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
  list-style: none;
}

.product-item {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #e5e5e5;
}

.product-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 2;
}

.product-item:hover,
.product-item:focus {
  border-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 218px;
  height: 165px;
  margin-top: 0;
  margin-bottom: 14px;
  text-align: left;
}

.product-item:nth-child(3n+3) .product-image {
  padding-top: 28px;
  padding-left: 31px;
}

.product-item:nth-child(3n+1) .product-image {
  padding-top: 28px;
  padding-left: 39px;
}

.product-item:nth-child(3n+2) .product-image {
  padding-top: 21px;
  padding-left: 26px;
}

.popular-product-item:nth-child(4) .product-image {
  padding-top: 28px;
  padding-left: 31px;
}

.popular-product-item:nth-child(2) .product-image {
  padding-top: 28px;
  padding-left: 39px;
}

.popular-product-item:nth-child(3) .product-image {
  padding-top: 21px;
  padding-left: 26px;
}

 .popular-product-item:nth-child(1) .product-image {
  padding-top: 5px;
  padding-left: 16px;
}

.product-image img {
  max-width: 100%;
}

.product-name,
.product-discount,
.product-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.product-name {
  position: relative;
  margin-top: 0;
  margin-bottom: 11px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.product-model {
  text-transform: uppercase;
  color: #000000;
}

.product-discount {
  display: block;
  min-height: 20px;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a9a9a9;
}

.product-price {
  position: relative;
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 27px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px 0 0 2px;
}

.product-price::after {
    content: '';
    position: absolute;
    top: 0;
    right: -26px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.product-buttons {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 218px;
  padding-top: 43px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.product-item:hover .product-buttons,
.product-item:focus .product-buttons {
  display: block;
}

.product-buy,
.product-bookmark {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  border-radius: 3px;
}

.product-buy {
  padding-top: 11px;
  padding-bottom: 9px;
  color: #fff;
  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 0 #367315;
          box-shadow: inset 0 -3px 0 0 #367315;
}

.product-buy:hover,
.product-buy:focus {
  background-color: #5fbb2d;
}

.product-buy:active {
  background-color: #367315;
}

.product-bookmark {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 6px;
  color: #32425c;
  border: 3px #63a63e solid;
}

.product-bookmark:hover,
.product-bookmark:focus {
  border-color: #32425c;
}

.product-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

.popular-brand {
  margin-bottom: 65px;
}

.popular-brand .popular-top {
  padding-left: 24px;
}

.brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.brand-item:hover,
.brand-item:focus {
  border-color: #ffffff;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand-image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 100%;
}

.brand-item:nth-child(1) .brand-image {
  padding-top: 52px;
  padding-left: 46px;
}

.brand-item:nth-child(2) .brand-image {
  padding-top: 49px;
  padding-left: 47px;
}

.brand-item:nth-child(3) .brand-image {
  padding-top: 47px;
  padding-left: 36px;
}

.brand-item:nth-child(4) .brand-image {
  padding-top: 20px;
  padding-left: 8px;
}

.brand-item:nth-child(5) .brand-image {
  padding-top: 57px;
  padding-left: 27px;
}

.brand-item:nth-child(6) .brand-image {
  padding-top: 34px;
  padding-left: 47px;
}

.brand-item:nth-child(7) .brand-image {
  padding-top: 22px;
  padding-left: 34px;
}

.brand-item:nth-child(8) .brand-image {
  padding-top: 33px;
  padding-left: 9px;
}

.brand-image:active {
  opacity: 0.3;
}

.services {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f5f8fa;
  margin-bottom: 79px;
  padding-top: 65px;
}

.services .container {
  width: 950px;
  padding-right: 0;
}

.services-title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  width: 400px;
  margin: 0;
  margin-bottom: 33px;
  line-height: 24px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 98px;
}

.services-list {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  margin: 0;
  padding: 0;
  padding-top: 36px;
  list-style: none;
}

.services-list::after {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  width: 10px;
  height: 272px;
  background-image: url('../img/services-shadow.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 240px;
  padding-top: 13px;
  padding-bottom: 19px;
  padding-left: 22px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow: inset 0 1px 0 0 #405069,
              inset 0 -1px 0 0 #293449;
          box-shadow: inset 0 1px 0 0 #405069,
              inset 0 -1px 0 0 #293449;
}

.services-item label:hover,
.services-item label:focus {
  background-color: #293449;
}

.services-item:first-child label {
  -webkit-box-shadow: inset 0 -1px 0 0 #293449;
          box-shadow: inset 0 -1px 0 0 #293449;
}

.services-item:last-child label {
  -webkit-box-shadow: inset 0 1px 0 0 #405069;
          box-shadow: inset 0 1px 0 0 #405069;
}

#services-slide-1:checked ~ .services-list label[for="services-slide-1"],
#services-slide-2:checked ~ .services-list label[for="services-slide-2"],
#services-slide-3:checked ~ .services-list label[for="services-slide-3"] {
  color: #32425c;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#services-slide-1:checked ~ .services-slide-list .services-slide-delivery,
#services-slide-2:checked ~ .services-slide-list .services-slide-guarantee,
#services-slide-3:checked ~ .services-slide-list .services-slide-credit {
  display: block;
}

.services-slide-list {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 630px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slide {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 630px;
  height: 320px;
  padding-top: 31px;
  background-color: #f5f8fa;
}

.services-slide h3 {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 36px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  color: #32425c;
}

.services-slide p {
  margin-top: 0;
  margin-bottom: 26px;
}

.services-slide-delivery {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/background-delivery.png);
  background-repeat: no-repeat;
  background-position: 151px 59px;
}

.services-slide-delivery p {
  width: 275px;
  line-height: 24px;
}

.services-slide-guarantee {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/background-guarantee.png);
  background-repeat: no-repeat;
  background-position: 239px 37px;
}

.services-slide-guarantee p {
  width: 375px;
  line-height: 24px;
}

.services-slide-credit {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../img/background-credit.png');
  background-repeat: no-repeat;
  background-position: 165px 35px;
}

.services-slide-credit .button {
  width: 195px;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

.info {
  width: 560px;
}

.info-title,
.contact-title {
  margin: 0;
  margin-bottom: 26px;
}

.info-text {
  margin-top: 24px;
  margin-bottom: 20px;
  padding-right: 45px;
}

.info-text:nth-of-type(2) {
  padding-right: 115px;
}

.info a {
  width: 220px;
}

.contact-text {
  margin: 0;
  margin-bottom: 31px;
  padding-right: 106px;
}

.partners-text {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 160px;
}

.partners-list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
}

.partners-item {
  position: relative;
  margin-bottom: 18px;
  padding-left: 36px;
}

.partners-item::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.partners-item:last-of-type::before {
  top: 9px;
}

.contact {
  width: 300px;
}

.contact-image {
  display: block;
  margin-bottom: 40px;
}

.contact-image img {
  display: block;
}

.contact .button {
  width: 300px;
  padding-right: 20px;
  padding-left: 25px;
}

.footer {
  font-family: 'Cuprum', Arial, sans-serif;
  background-color: #32425c;
}

.footer a {
  outline: none;
}

.footer-top {
  margin-bottom: 33px;
}

.footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  height: 63px;
}

.footer-logo img {
  height: 21px;
}

.footer-nav {
  width: 549px;
  margin: 0;
  padding: 0;
  padding-top: 38px;
}

.footer-nav li:not(:last-of-type) {
  margin-right: 59px;
}

.footer-nav a:active {
  color: rgba(255, 255, 255, 0.5);
}

.footer a,
.footer-adress,
.footer-phone {
  font-size: 18px;
  line-height: 24px;
}

.footer-nav a,
.footer-adress,
.footer-phone {
  color: #ffffff;
}

.footer-top a:hover,
.footer-top a:focus,
.footer-middle a:hover,
.footer-middle a:focus,
.footer-bottom a:hover,
.footer-bottom a:focus {
  text-decoration: underline;
}

.footer-middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 330px;
  padding-left: 3px;
}

.footer-adress,
.footer-phone {
  margin: 0;
  word-spacing: 0.02em;
}

.footer-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 528px;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  list-style: none;
}

.footer-catalog li:not(:last-child) {
  margin-right: 60px;
}

.footer-middle {
  margin-bottom: 49px;
}

.footer-middle a,
.footer-bottom a {
  color: #ffd180;
}

.footer-middle a:active,
.footer-bottom a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 31px;
  background-color: #293449;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 522px;
}

.footer-bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.footer-bottom-right a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-bottom,
.footer-bottom a {
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright {
  width: 240px;
  margin-right: 140px;
  margin-left: 1px;
  margin-top: 2px;
}

.footer-copyright p {
  margin: 0;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 133px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social a {
  display: block;
  width: 41px;
  height: 41px;
  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button-vk a {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 9px 13px;
}

.social-button-fb a {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.social-button-insta a {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 9px 10px;
}

.footer-social a:hover,
.footer-social a:focus {
  text-decoration: none;
  background-color: #ee3643;
}

.footer-feedback {
  width: 150px;
  margin-left: 1px;
  margin-top: 2px;
}

.footer-develop {
  width: 112px;
  margin-left: 1px;
  margin-top: 2px;
}

.footer-feedback b,
.footer-develop b {
  font-weight: 400;
}

.modal {
  position: fixed;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  display: none;
  z-index: 100;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
}

.modal-write .modal-close,
.modal-cart .modal-close {
  top: 7px;
}

.modal-close::after,
.modal-close::before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-map {
  bottom: 357px;
  left: 50%;
  width: 940px;
  margin-bottom: -179px;
  margin-left: -470px;
  -webkit-box-shadow: 0 0 16px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 16px rgba(47, 42, 43, 0.5);
}

.modal-image {
  width: 940px;
  height: 446px;
}

.modal-image img {
  display: block;
}

.modal-write {
  bottom: 201px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.write-user {
  padding: 52px 80px 37px;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 7px 0 0 #ff5357;
          box-shadow: inset 0 7px 0 0 #ff5357;
}

.write-user p {
  margin: 0;
}

.write-user label {
  display: block;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 22px;
}

.write-user input {
  width: 100%;
}

.write-user textarea {
  width: 100%;
  height: 114px;
  resize: none;
}

.write-user input,
.write-user textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  padding: 8px 14px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border: 2px #d7dcde solid;
  border-radius: 2px;
}

.write-user input::-webkit-input-placeholder,
.write-user textarea::-webkit-input-placeholder {
  color: #999999;
}

.write-user input::-moz-placeholder,
.write-user textarea::-moz-placeholder {
  color: #999999;
}

.write-user input::-ms-input-placeholder,
.write-user textarea::-ms-input-placeholder {
  color: #999999;
}

.write-user input:-ms-input-placeholder,
.write-user textarea:-ms-input-placeholder {
  color: #999999;
}

.write-user input:hover,
.write-user textarea:hover {
  border-color: #b5b5b5;
}

.write-user input:focus,
.write-user textarea:focus {
  border-color: #ee3643;
}

.write-user-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 19px;
}

.write-user-contact p {
  width: 220px;
}

.write-button {
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-button button {
  width: 100%;
}

.modal-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  margin-top: -141px;
  margin-left: -310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
          box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
}

.modal-cart p {
  margin: 0;
}

.modal-cart b {
  display: block;
  padding: 72px 82px 68px 178px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.004em;
  background-color: #ffffff;
  background-image: url('../img/icon-mark.svg');
  background-repeat: no-repeat;
  background-position: 81px 55px;
  -webkit-box-shadow: inset 0 7px 0 0 #ee3643;
          box-shadow: inset 0 7px 0 0 #ee3643;
}

.modal-cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 37px 80px;
  background-color: #f1f1f1;

}

.modal-cart-buttons a,
.modal-cart-buttons button {
  width: 220px;
  border-radius: 2px;
}

.modal-cart-buttons a {
  padding-left: 17px;
}

.modal-cart-buttons button {
  padding: 11px 20px 9px 17px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
}

/* Catalog */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 1px;
  right: -23px;
  width: 8px;
  height: 12px;
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-home {
  display: block;
  width: 15px;
  height: 16px;
  background-image: url('../img/icon-home.svg');
  background-repeat: no-repeat;
  background-position: -2px 1px;
}

.breadcrumbs a {
  display: block;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px 29px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.sort {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  margin-bottom: 20px;
  padding: 4px 0;
  padding-left: 19px;
  border-radius: 2px;
}

.sort-title {
  width: 140px;
  margin: 0;
  padding-top: 6px;
  font-weight: 400;
}

.sort-parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
}

.sort-parameters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-parameters-item:not(:last-of-type) {
  margin-right: 68px;
}

.sort-parameters-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-parameters-list a:hover,
.sort-parameters-list a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-parameters-current a,
.sort-parameters-current a:hover,
.sort-parameters-current a:focus {
  color: #ee3643;
  border: none;
}

.sort-order-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 7px;
  list-style: none;
}

.sort-order-list a {
  position: relative;
  display: block;
  width: 31px;
  height: 30px;
  border-bottom: none;
}

.sort-order-list svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.sort-order-up path,
.sort-order-down path {
  fill: #c5c5c5;
}

.sort-order-up:hover path,
.sort-order-down:hover path,
.sort-order-up:focus path,
.sort-order-down:focus path {
  fill: #000000;
}

.sort-order-current path {
  fill: #ee3643;
}

.sort-order-current:hover path,
.sort-order-current:focus path {
  fill: #ee3643;
}

.filter {
  width: 220px;
}

.filter-title {
  margin: 0;
  padding: 10px 18px 10px;
  font-weight: 400;
  border-radius: 2px;
}

.filter-title,
.sort {
  background-color: #f7f3ec;
}

.filter-title,
.sort-title {
  font-family: 'PT sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs,
.filter,
.filter button,
.sort,
.pagination-list {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.filter fieldset {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.filter legend {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter label {
  display: block;
  padding-left: 34px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.filter .filter-price {
  margin-top: 11px;
  padding-bottom: 25px;
}

.filter-price .range-controls {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  margin-bottom: 9px;
  padding: 39px 20px;
  padding-left: 28px;
  background-color: #f7f3ec;
  border-radius: 0 0 3px 3px;
}

.filter-price .scale {
  position: relative;
  width: 172px;
  height: 2px;
  background-color: #d7dcde;
}

.filter-price .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 2px;
  background-color: #00ca74;
}

.filter-price .range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  -webkit-box-shadow: inset 0 0 0 8px #ffffff,
              0 2px 0 0 #e0ddd8;
          box-shadow: inset 0 0 0 8px #ffffff,
              0 2px 0 0 #e0ddd8;
  border-radius: 50%;
}

.filter-price .range-toggle-min {
  top: 30px;
  left: 20px;
}

.filter-price .range-toggle-max {
  top: 30px;
  left: 160px;
}

.filter-price .price-controls {
  position: relative;
}

.filter-price .price-controls::before {
  content: '';
  position: absolute;
  top: 19px;
  left: 105px;
  width: 10px;
  height: 1px;
  background-color: #000000;
  -webkit-box-shadow: inset 1px 0 0 0 #cdcdcd;
          box-shadow: inset 1px 0 0 0 #cdcdcd;
}

.filter-price .price-controls {
  font-size: 0;
}

.filter-price input {
  display: inline-block;
  width: 95px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  background-color: #f7f3ec;
  border: none;
  border-radius: 2px
}

.filter-price .min-price {
  margin-right: 30px;
}

.filter .filter-brand {
  margin-top: 16px;
  padding-bottom: 22px;
}

.filter .filter-power {
  margin-top: 17px;
  padding-bottom: 78px;
}

.filter li:not(:last-of-type) {
  margin-bottom: 20px;
}

.filter button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  outline: none;
}

.filter-power label,
.filter-brand label {
  position: relative;
}

.filter-input-checkbox + label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  background-image: url('../img/checkbox-on.svg');
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:disabled + label:hover::before {
  background-image: url('../img/checkbox-hover-off.svg');
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked:focus + label::before,
.filter-input-checkbox:checked:disabled + label::before,
.filter-input-checkbox:checked:disabled + label:hover::before {
  background-image: url('../img/checkbox-hover-on.svg');
}

.filter-input-checkbox:disabled + label {
  opacity: 0.4;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.75;
}

.filter-input-radio + label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -1px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 4px #c5c5c5;
          box-shadow: inset 0 0 0 4px #c5c5c5;
}

.filter-input-radio + label:hover::before {
  -webkit-box-shadow: inset 0 0 0 4px #b5b5b5;
          box-shadow: inset 0 0 0 4px #b5b5b5;
}

.filter-input-radio:checked:focus + label::before,
.filter-input-radio:checked + label:hover::before,
.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label:hover::before {
  -webkit-box-shadow: inset 0 0 0 4px #b5b5b5,
              inset 0 0 0 8px #ffffff,
              inset 0 0 0 13px #b5b5b5;
          box-shadow: inset 0 0 0 4px #b5b5b5,
              inset 0 0 0 8px #ffffff,
              inset 0 0 0 13px #b5b5b5;
}

.filter-input-radio:checked + label::before {
  -webkit-box-shadow: inset 0 0 0 4px #c5c5c5,
              inset 0 0 0 8px #ffffff,
              inset 0 0 0 13px #c5c5c5;
          box-shadow: inset 0 0 0 4px #c5c5c5,
              inset 0 0 0 8px #ffffff,
              inset 0 0 0 13px #c5c5c5;
}

.filter-input-radio:disabled + label {
  opacity: 0.4;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.75;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 31px;
  padding: 0;
  list-style: none;
}

.pagination-list a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 38px;
  padding: 9px 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  outline: none;
}

.filter button:hover,
.filter button:focus,
.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.filter button:active,
.pagination-list a:active {
  border-color: #ee3643;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item-current a {
  padding: 10px 0;
  color: #ffffff;
  background-color: #ee4039;
  border: none;
}

.pagination-item-next a {
  width: 140px;
}

.product-info {
  padding-top: 65px;
  padding-bottom: 68px;
  background-color: #f2f6f8;
}

.product-info h2 {
  margin: 0;
  margin-bottom: 26px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.product-info p {
  margin: 0;
  margin-right: 9px;
  word-spacing: 0.04em;
}

.inner-page .header {
  margin-bottom: 22px;
}

.inner-page .product-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
}

.inner-content h2 {
  margin-top: 52px;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px
}

.inner-content h3 {
  margin-top: 52px;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 24px;
}

.inner-content h2 + h3 {
  margin-top: 26px;
}

.inner-content p {
  margin-top: 24px;
  margin-bottom: 20px;
}

.inner-content ul {
  margin: 20px 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
}

.inner-content li {
  position: relative;
  margin-bottom: 18px;
  padding-left: 36px;
}

.inner-content li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.inner-content li:last-of-type::before {
  top: 9px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
